<h1>Listing episodes</h1>

<ul>
<% @episodes.each do |episode| %>
  <li>
    <%= episode.title %><br />
    <%= episode.podcast.title %>
    <%= link_to 'Show', episode_show_path(episode.podcast.shortname, episode.episode_number) %>
    <%= episode.body %>
  </li>
<% end %>
</ul>
