<% @episodes.sort_by! { |e| [ e.podcast.id, e.sort_order ] } %>

<h1>All episodes</h1>

<table>
<% @episodes.each do |episode| %>
  <tr>
  	<td><%= episode.podcast.title %>  &nbsp; </td>
  	<td><%= link_to episode.title, episode_show_path(episode.podcast.shortname, episode.episode_number) %></td>
  </tr>
<% end %>
</table>