<div class="podcast-sidebar">
  <img src="<%= @podcast.art_url %>" /><br />
  <p>
    <strong><%= link_to @podcast.title, '/' + @podcast.shortname %></strong>
  </p>

  <%= raw(BlueCloth.new(@podcast.links).to_html) %>
  <%= link_to 'RSS', "#{podcast_path(@podcast)}.rss" %>

</div>