<IfModule mod_rewrite.c>

Redirect 301 /c+ /christiantranshumanist
Redirect 301 /cplus /christiantranshumanist
Redirect 301 /c+.rss /christiantranshumanist.rss
Redirect 301 /cplus.rss /christiantranshumanist.rss
</IfModule>
