* {
  box-sizing: border-box;
}
html {
  height:100%;
}
body {
  margin:0;
  padding:0;
}

body
{
  min-height:100%;
  -webkit-box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, 0.5 ); /* 300 */
  -moz-box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, 0.5 ); /* 300 */
  box-shadow: inset 0 0 18.75em rgba( 0, 0, 0, 0.5 ); /* 300 */
}

a {
  color: #0071B3;
  &:hover, &:focus {
    color: #018fe2;
  }
}


header {
  background: black;
  padding:10px;

  font-size: 0.8em;
  @media(min-width:800px) {
    font-size: 1em;
    a, span {
      padding:0 20px;
      margin:0;      
    }
  }

  a, a:link, a.site-name, a.site-motto, span {
    text-decoration: none;
    color:#ffffff;
  }
  a, span {
    display: inline-block;
  }
  a.site-name {
    padding-right:0;
  }
  a.site-motto {
    padding-left:0;
  }
}

body .page {
  margin:0px auto;
  max-width: 800px;
}
body.application .page {
  max-width: 100%;
}
.podcast-wrapper, .episode-wrapper, .podcast-teaser {
  max-width: 800px;
  margin:20px auto;  
}
.podcast-teaser {
  margin: 20px;
  @media(min-width:800px) {
    margin:20px auto;
  }
  clear:both;
  img {
    float: left;
    max-width: 25%;
    margin:0 20px 30px 0;
  }
  .podcast-title {
  }
  .podcast-body {
    @media (max-width:480px) {
      display: none;
    }
  }
}

.page-title,
.episode-title,
.podcast-title {
  color: #000000;
  font-size: 2em;
  line-height: 1.2em;

  @media(min-width:640px) {
    font-size: 3em;
  }
  @media(min-width:800px) {
    font-size: 3.7em;
  }
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top:0;
  margin-bottom: 0.5em;
  a {
    text-decoration: none;
    &:hover {
      background:none;
      color: #000000;
    }
  }
}
