* {
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
}

a {
  color: #0071B3;
  &:hover, &:focus {
    color: #018fe2;
  }
}

header {
  background: black;
  padding:10px;

  font-size: 0.8em;
  @media(min-width:800px) {
    font-size: 1em;
    a, span {
      padding:0 20px;
      margin:0;      
    }
  }

  a, a:link, a.site-name, a.site-motto, span {
    text-decoration: none;
    color:#ffffff;
  }
  a, span {
    display: inline-block;
  }
  a.site-name {
    padding-right:0;
  }
  a.site-motto {
    padding-left:0;
  }
  span.connect {
    @include media($tablet) {
      float: right;
    }
  }
}

/* Override scaffolding settings for admin, then re-override them for normal use */
body .page {
  margin:0px auto;
  max-width: 800px;
}
body.application .page {
  max-width: 100%;
}
/* end override */

.back-link {
  // background: #333;
  padding:0px;

  a, a:link {
    text-decoration: none;
    color:#000000;
    padding:10px 20px;
    display: block;
  }  
}

.page-title {
  @include page-title;
}

$padding:20px;

.footer-links {  
  background: #111111;
  a, a:visited {
    color:#eee;
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    padding:($padding / 2) $padding;
    &:hover {
      background: #ffffff;
      text-decoration: none;
      color: #000000;
    }
  }
  .footer-links-inner {
    margin:0 auto;
    padding: $padding 0;
    max-width: 800px;
  }
}


