<% @episodes = @podcast.episodes %>
<% if @episodes %>
  <% @episodes.each do |episode| %>
    <div class="episode"><%= link_to episode.list_title, episode_show_path(@podcast.shortname, episode.episode_number) %></div>
  <% end %>
<% end %>
<br />