<div class="podcast-sidebar">
  <%= render 'artwork' %><br />
  <p>
    <strong><%= link_to @podcast.title, '/' + @podcast.shortname %></strong>
  </p>

  <div class="podcast-links">
    <%= raw(@podcast.links_html) %>
  </div>
</div>