<div class="podcast-sidebar">
  <%= render 'artwork' %><br />
  <p>
    <strong><%= link_to @podcast.title, '/' + @podcast.shortname %></strong>
  </p>

  <div class="podcast-links">
    <%= raw @podcast.subscribe_links %>
    <%= raw BlueCloth.new(@podcast.links).to_html %>
  </div>
</div>