<% @podcasts.each do |podcast| %>
<div class="podcast-teaser">
  <img src="<%= podcast.art_url %>" />
  <h2 class="podcast-title"><%= link_to podcast.title, '/' + podcast.shortname %></h2>
  <%= link_to 'Destroy', podcast, method: :delete, data: { confirm: 'Are you sure?' } %>  
  <%= podcast.body %><br /><br />
  <br />
</div>
<% end %>