<% @podcasts.each do |podcast| %>
<div class="podcast-teaser">
  <img src="<%= podcast.art_url_medium || podcast.art_url %>" />
  <h2 class="podcast-title"><%= link_to podcast.title, podcast.path %></h2>
  <%= podcast.body %><br /><br />
  <br />
</div>
<% end %>