<div class="podcast-topbar">
  <%= render 'sidebar' %>
</div>

<h1 class="podcast-title">
  <%= @podcast.title %>
</h1>

<div class="podcast-body">
  <%= @podcast.body %>
</div>

<div class="podcast-episodes">
  <%= render 'episodes' %>
</div>